<div class="container">
    <div class="title-section">Data Product</div>
    <button class="button-create" data-bs-toggle="modal" data-bs-target="#addProductModal">Add Product</button>
    <button class="button-download" (click)="exportToExcel()">Export to Excel</button>
    <div *ngIf="isLoading" class="loading">
      Loading...
    </div>
    <table *ngIf="!isLoading" class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nama Produk</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{ product.id}}</th>
            <td>{{ product.title}}</td>
            <td>${{ product.price}}</td>
            <td>{{ product.category.name}}</td>
            <td>
                <button type="button" class="button-edit" (click)="selectProduct(product)" data-bs-toggle="modal" data-bs-target="#editProductModal">Edit</button>
                <button class="button-delete" (click)="deleteProduct(product.id)">Delete</button>
            </td>
          </tr>
        </tbody>
    </table>

        <!-- Modal -->
        <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editProductModalLabel">Edit Product</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form *ngIf="selectedProduct" #form="ngForm">
                    <div class="mb-3">
                      <label for="title" class="form-label">Nama Produk</label>
                      <input type="text" class="form-control" id="title" [(ngModel)]="selectedProduct.title" name="title">
                    </div>
                    <div class="mb-3">
                      <label for="productPrice" class="form-label">Price</label>
                      <input type="price" class="form-control" id="productPrice" [(ngModel)]="selectedProduct.price" name="price">
                    </div>
                    <div class="mb-3">
                        <label for="productCategory" class="form-label">Catgeory</label>
                        <input type="category" class="form-control" id="productCategory" [(ngModel)]="selectedProduct.category.name" name="category">
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="onSubmit(form)" data-bs-dismiss="modal">Save changes</button>
                </div>
              </div>
            </div>
        </div>

        <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="addProductModalLabel">Add Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form #form="ngForm">
                  <div class="mb-3">
                    <label for="newProductImage" class="form-label">Images</label>
                    <input type="text" id="newProductImage" name="images" [(ngModel)]="newProduct.images" required class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="newProductTitle" class="form-label">Title</label>
                    <input type="text" id="newProductTitle" name="title" [(ngModel)]="newProduct.title" required class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="newProductPrice" class="form-label">Price</label>
                    <input type="number" id="newProductPrice" name="price" [(ngModel)]="newProduct.price" required class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="newProductDescription" class="form-label">Description</label>
                    <input type="text" id="newProductDescription" name="description" [(ngModel)]="newProduct.description" required class="form-control">
                  </div>
                  <div class="mb-3">
                    <label for="newProductCategory" class="form-label">Category</label>
                    <select id="newProductCategory" name="category" [(ngModel)]="newProduct.category" required class="form-control">
                      <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit(form)">Save</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        
</div>
