<app-navbar></app-navbar>

<div class="main-container">
  <div class="content-area">
    <ng-container *ngIf="!isLoginPage">
      <!-- Tampilkan sidebar yang berbeda berdasarkan kondisi -->
      <ng-container *ngIf="isAdminPage; else customerSidebar">
        <app-sidebar></app-sidebar>
      </ng-container>
      <ng-template #customerSidebar>
        <app-sidebar-customer></app-sidebar-customer>
      </ng-template>
    </ng-container>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-footer></app-footer>
