<div class="container">
    <div class="title-section">
        Electronics
    </div>
    <div *ngIf="loading" class="loading-message">
        Loading products...
    </div>
    <div class="card-container">
        <div class="card-section" *ngFor="let product of products">
          <div class="image-container">
            <img [src]="product.images[0]" alt="{{ product.title }}" />
          </div>
          <div class="product-name">{{ product.title }}</div>
          <div class="product-price">$ {{ product.price }}</div>
        </div>
    </div>
</div>
