<div class="container">
    <div class="title-section">Data User</div>
    <button class="button-create" data-bs-toggle="modal" data-bs-target="#addUserModal">Add User</button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Avatar</th>
          <th scope="col">Nama</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{ user.id }}</th>
          <td><img class="img-user" [src]="user.avatar" alt="avatar {{user.name}}"></td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button type="button" class="button-edit" (click)="selectUser(user)" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
            <button class="button-delete" (click)="deleteUser(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="editUserModalLabel">Edit User</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form *ngIf="selectedUser">
                <div class="mb-3">
                  <label for="userName" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="userName" [(ngModel)]="selectedUser.name" name="name">
                </div>
                <div class="mb-3">
                    <label for="userAvatar" class="form-label">Avatar</label>
                    <input type="text" class="form-control" id="userAvatar" [(ngModel)]="selectedUser.avatar" name="avatar">
                  </div>
                <div class="mb-3">
                  <label for="userEmail" class="form-label">Email</label>
                  <input type="email" class="form-control" id="userEmail" [(ngModel)]="selectedUser.email" name="email">
                </div>
                <div class="mb-3">
                    <label for="userPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userPassword" [(ngModel)]="selectedUser.password" name="password">
                  </div>
                <div class="mb-3">
                  <label for="userRole" class="form-label">Role</label>
                  <input type="text" class="form-control" id="userRole" [(ngModel)]="selectedUser.role" name="role">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="saveChanges()" data-bs-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
    </div>


    <div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addUserModalLabel">Add User</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form (ngSubmit)="createUser(newUser)">
                <div class="mb-3">
                  <label for="newUserName" class="form-label">Name</label>
                  <input type="text" id="newUserName" [(ngModel)]="newUser.name" name="name" required class="form-control">
                </div>
                <div class="mb-3">
                  <label for="newUserEmail" class="form-label">Email</label>
                  <input type="email" id="newUserEmail" [(ngModel)]="newUser.email" name="email" required class="form-control">
                </div>
                <div class="mb-3">
                  <label for="newUserRole" class="form-label">Role</label>
                  <input type="text" id="newUserRole" [(ngModel)]="newUser.role" name="role" required class="form-control">
                </div>
                <div class="mb-3">
                  <label for="newUserPassword" class="form-label">Password</label>
                  <input type="password" id="newUserPassword" [(ngModel)]="newUser.password" name="password" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
</div>
