<div class="container">
    <div class="title-section">Data Kategori</div>
    <button class="button-create" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Add Category</button>
    <div *ngIf="isLoading" class="loading">
        Loading...
    </div>
      <table *ngIf="!isLoading" class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nama Category</th>
              <th scope="col">Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let kategori of category">
              <th scope="row">{{ kategori.id}}</th>
              <td>{{ kategori.name}}</td>
              <td><img class="img-category" [src]=kategori.image alt=""></td>
              <td>
                  <button type="button" class="button-edit"  data-bs-toggle="modal" data-bs-target="#updateCategoryModal"  (click)="selectCategory(kategori)">Edit</button>
                  <button class="button-delete" (click)="deleteCategory(kategori.id)">Delete</button>
              </td>
            </tr>
          </tbody>
      </table>

      <!-- Modal  -->
      <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addCategoryLabel">Add Category</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #form="ngForm">
                <div class="mb-3">
                  <label for="newCategoryImage" class="form-label">Images</label>
                  <input type="text" id="newCategoryImage" name="images" [(ngModel)]="newCategory.image" required class="form-control">
                </div>
                <div class="mb-3">
                  <label for="newCategoryName" class="form-label">Name</label>
                  <input type="text" id="newCategoryName" name="name"  [(ngModel)]="newCategory.name" required class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmited(form)">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="updateCategoryModal" tabindex="-1" aria-labelledby="updateCategoryLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="updateCategoryModalLabel">Edit Product</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form *ngIf="selectedCategory" #form="ngForm">
                <div class="mb-3">
                  <label for="title" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="title" [(ngModel)]="selectedCategory.name" name="name">
                </div>
                <div class="mb-3">
                  <label for="categoryImage" class="form-label">Image</label>
                  <input type="text" class="form-control" id="categoryImage" [(ngModel)]="selectedCategory.image" name="image">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="onSubmited(form)" data-bs-dismiss="modal">Save changes</button>
            </div>
          </div>
        </div>
    </div>
</div>